@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Fauna+One&display=swap');
.container{
  width: 70vw;
  height: fit-content;
  margin-top:100px;
  /* background: rgba(1, 12, 29, 0.5); */
  /* border: 2px solid #E9C485; */
  backdrop-filter: blur(20px);
  margin:auto;
  border-radius: 52px;
  /* backdrop-filter: blur(10px); */
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 14, 34, 0.5);
  border: 2px solid #E9C485;
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
}
.container p {
  /* text-align: center !important; */
}
.container h4 {
  text-align: center !important;
}

.aboutUs{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100% auto;
    border-bottom: 2px solid #E9C485;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    height: auto;

    text-align: center;

    color: #E9C485;
    

}

.aboutUs p{
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
    font-family: 'Fauna One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;

}

.content {
    display:flex;
    padding: 50px;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: normal;
}

.contentText{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    max-width: 90% auto; 
    /* identical to box height */


    color: #E9C485;

}

.contentText h6{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: justify;
}

.contentText h4{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 57px;
    text-align: justify;
}

.contentText p{
    font-family: 'Fauna One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: justify;

    color: #FFFFFF;
}

.contentText h4,
.contentText h6,
.contentText p {
  margin: 10px; /* add this line to remove margin top and bottom */

}
@media (min-width:300px){
  .container {
    width: 80vw;
  }
  .aboutUs p{
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 24px;

  }
  .aboutUs h4 {
    font-size: 28px !important;
    line-height: 24px;
  }
  .aboutUs img {
    width: 80vw !important;
    height:auto !important;
  }
  .content {
    padding: 0px !important;
 
  }
  .contentText{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100% ; 
  }
  .contentText h6{
    font-size: 18px;
    line-height: 43px;
  }
  .contentText h4{
    font-size: 21px;
    line-height: 32px;
  }
  .contentText p{
    font-size: 12px;
    line-height: 24px;
  }
}
@media (min-width:600px ){
  .contentText{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100% ; 
  }
  .contentText h6{
    font-size: 20px;
    line-height: 43px;
  }
  .contentText h4{
    font-size: 23px;
    line-height: 32px;
  }
  .contentText p{
    font-size: 14px;
    line-height: 24px;
  }
}
@media (min-width:768px){
  .aboutUs img {
    width: 56.6vw!important;
    height:auto !important;
  }
  .container {
    width: 70vw !important;
  }

}
@media(min-width:800px ){
  .aboutUs p{
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px !important;
    line-height: 24px;

  }
  .abouUs h4{
    font-size: 32px !important;
    /* line-height: 32px; */
  }
  .content {
    padding: 15px! important;
 
  }
  .contentText{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100% ; 
  }
  .contentText h6{
    font-size: 25px !important;
    line-height: 43px;
  }
  .contentText h4{
    font-size: 32px !important;
    line-height: 32px;
  }
  .contentText p{
    font-size: 16px !important;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    width: 70vw;
  }
  .aboutUs{
    font-size: 30px;
    line-height: 43px;
    width: 90%;
  }
  .content {
    padding: 30px !important;
 
  }
  .aboutUs h4{
    font-size: 42px !important;
    /* line-height: 32px; */
  }
  .aboutUs p {
    font-size: 24px !important;
    line-height: 24px;
  }
  .contentText{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 90% !important; 
  }
  .contentText h6{
    font-size: 32px !important;
    line-height: 43px;
  }
  .contentText h4{
    font-size: 42px !important;
    line-height: 32px;
  }
  .contentText p{
    font-size: 18px !important;
    line-height: 24px;
  }

  @media (min-width :1200px){
    .content {
      padding: 50px !important;
   
    }
  }
}
