
@media(max-width:450px){
  .footerSocialTitle{
    font-size: 20px !important;
  }
  .footerSocialLink img {
    width: 30px !important;
    height: 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .footerSocialLinks {
    gap: 20px !important;
    margin-bottom: 30px !important;
  }
  .footerSocialLink {
    display: flex !important;
    justify-content: space-evenly !important;
  }
  .footerCreditText1{
    font-size: 18px !important;
  }
  .footerCreditText2{
    font-size: 16px !important;
  }
}
@media (max-width:600px){
  .footerSocialTitle{
    font-size: 24px;
  }

}

.footer {
  position: footer;
  /* width: calc(1300px + (100vw - 300px) / 10); */
  width:100vw !important;
  height: auto;
  /* top: 6433px; */
  /* margin-top: 50px; */
  background: #000F25;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footerSocialTitle {
  font-family: 'Cinzel';
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #E9C485;
}

.footerSocialLinks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap:32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.footerSocialLink {
  display: block;
  width: 40px;
  height: 40px;
  /* margin-right: 32px; */
  border-radius: 50%;
  line-height: 40px;
  font-size: 20px;
  color: #666;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footerCredit {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.footerCreditText1 {
  font-family: 'Cinzel';
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.footerCreditText2 {
  font-family: 'Fauna One';
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 50px;
  text-align: center;
  color: #E9C485;
}

@media (max-width: 2000px) {
  .footer {
    width: 100%;
    margin: 50px 0;
  }
}
@media (min-width: 300px) and (max-width: 399px) {
  .footer {
    width: 300px;
  }
}
@media (min-width: 400px) and (max-width: 499px) {
  .footer {
    width: 400px;
  }
}
@media (min-width: 500px) and (max-width: 599px) {
  .footer {
    width: 500px;
  }
}
@media (min-width: 600px) and (max-width: 699px) {
  .footer {
    width: 600px;
  }
}
@media (min-width: 700px) and (max-width: 799px) {
  .footer {
    width: 700px;
  }
}
@media (min-width: 800px) and (max-width: 899px) {
  .footer {
    width: 800px;
  }
}
