.container{
    width: 70%;
    height: fit-content;
    margin-top:100px;

        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo img {
    width:16.7vw;
}

.title p{
    width: 403px;
    height: 332px;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 84px;
    text-align: center;

    color: #E9C485;
}

.icons{
    margin-top: 80px;;
    display: flex;
    align-items: center;
}

.icon{
    margin: 0px 30px;
    width: 45px;
    height: 88px;
}