.container{
  width: 70vw;
  height: fit-content;
  /* background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
}


.teaserHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px; */
}
.teaserHeader img {
  
}

.teaserVideo {
  display: flex;
  justify-content: center;
  margin: 40px 100px;
}

.teaserVideo iframe {
  border-radius: 52px;
  width: 56.6vw;
  height:30.6vw;
  border-radius:52px;
}

/* Responsive Styles */
@media (min-width:300px){
  .teaserVideo iframe {
    width:90vw !important;
    border-radius:20px;
    height:50vw;
    /* height:40vw !important; */
    /* padding-bottom: 56.25%; */
  }
  .teaserHeader h1{
    align-items: center;
    text-align: center;
  }
  .teaserHeader img {
    width: 80vw !important;
    height:auto !important;
  }
}
@media only screen and (min-width: 768px) {
  /* .teaserSection {
    width: 90%;
    height: 35rem;
    margin-left: 100px;
    margin: 50px auto;
    padding-bottom: 50px;
  } */

  .teaserHeader img {
    width: 56.6vw !important;
    /* height:auto !important; */
  }

  /* .teaserVideo {
    margin: 0;
    overflow: hidden;
  } */

  .teaserVideo iframe {
    width: 56.6vw !important;
    height: 30.6vw !important;;
  }
}